.form_container{
    padding: 0% 150px;
}
.form_container h3{
    margin: 10px 0px;
}
.form_container > form{
    width: 35%;
}
.form_container form > button {
  background: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  cursor:pointer;
  padding: 6px;
  border-radius: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}
input{
    width: 100%;
    border-radius: 2px;
    border: 1px solid #d0d0d0;
    border-top: 1px solid #bbb;
    -webkit-box-shadow: 0 1px 0 rgb(255 255 255 / 50%), 0 1px 0 rgb(0 0 0 / 7%) inset;
    -moz-box-shadow: 0 1px 0 rgba(255,255,255,.5),0 1px 0 rgba(0,0,0,.07) inset;
    box-shadow: 0 1px 0 rgb(255 255 255 / 50%), 0 1px 0 rgb(0 0 0 / 7%) inset;
    outline: none;
}
label{
    text-align: start;
    font-size: 14px;
    font-weight: 600;
}